<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <title>Pretraga</title>
</head>
<body>
<nav class="navbar">
    <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
    <a href="#" class="brand">Biblioteka Odiseja</a>
    <div class="left">
        <a class="link" href="{% url 'korisnik-home' %}">Home</a>
    </div>
    <div class="right">
       <div class="search-bar">
         <form method="get" action="{% url 'sluzbenik-pretraga-knjiga' %}">
                 <input id="search_str_id" type="text" name="search_string" placeholder="Unesite željeni naziv knjige">
                  <button class="btn" type="submit">Pretrazi</button>
         </form>
       </div>
        <a href="{% url 'logout' %}" class="link">Logout</a>
    </div>
 </nav>
{% if messages %}
    {% for message in messages %}
    <div class="{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="content">
    <div class="naslov">
        <h1> Nadjene knjige : </h1>
    </div>
     {% if knjige is not None %}
     <div class="table-content">
         <table class="table-my">
             <tr class="tr-no-color">
				<th class="th-my">Autor</th>
				<th class="th-my">Naziv</th>
				<th class="th-my">Detaljnije</th>
                 <th class="th-my">Brisanje</th>
			</tr>
             {% for k in knjige %}
             <tr class="tr-color">
                 <td class="td-my">
                       {{ k.autor }}
                 </td>
                 <td class="td-my">
                      {{ k.naziv }}
                 </td>
                 <td class="td-my">
                     <a class="btn-small" href="{% url 'knjiga-details' pk=k.id %}">Detalji</a>
                 </td>
                 <td class="td-my">
                    <a class="btn-small btn-small-danger" href="{%  url 'knjiga-delete' pk=k.id %}">Obrisi</a>
                 </td>
             </tr>
             {% endfor %}
         </table>

     </div>
     {% endif %}

</div>
</body>
</html>